<!doctype html>
<html ng-app="voyage">
    <head>
        <script src="angular.min.js"></script>
        <script src="voyage.js"></script>
    </head>
    <body>
        <div ng-controller="ArticleController">
            <p ng-repeat="x in Months">Yo {{x}} *</p>
            <div ng-repeat="jour in DB">
                <img ng-src="{{randPicture(jour.Pictures)}}" style="width: 50px; height: 50px;" />
                <a href="#" ng-click="loadArticle($index)">{{jour.Day | date : 'fullDate'}}</a>
            </div>
            <div ng-include="articleCourant"></div>
        </div>
    </body>
</html>
